<!-- custom script to put cursor on typing area-->
<script src="assets/js/focus.js"></script>


<table>
    <tbody>
    <tr ng-repeat="d in $root.dreams">
        <td class="col-md-2"><p class="iWantTo"><em>I want to</em>&nbsp;&nbsp;&nbsp;</p></td>
        <td class="col-md-5"><p class="dreamContent"><b>{{d.content}}</b></p></td>
        <td class="col-md-5">
            <div id="votingBlock">
                <ul>
                    <li>
                        <form ng-submit="dream.upvote(d._id)">
                            <input type="image" src="../../../assets/img/UpArrow.svg" width="22px">
                        </form>
                    </li>
                    <li>
                        <h4>{{d.points}}</h4>
                    </li>
                    <li>
                        <form ng-submit="dream.downvote(d._id)">
                            <input type="image" src="../../../assets/img/DownArrow.svg" width="22px">
                        </form>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    </tbody>
</table>



