<div class="col-md-4 col-md-offset-4" >
    <h1>Login</h1>
    <div ng-show="error" class="alert alert-danger">{{login.errorMessage}}</div>
    <form class="form" ng-submit="login.login()">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="username" ng-model="login.loginForm.email" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" ng-model="login.loginForm.password" required>
        </div>
        <div class="block">
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="/register"><p class="linkTitle">Sign Up</p> </a>
        </div>
    </form>
</div>
