<!-- custom script to put cursor on typing area-->
<script src="assets/js/focus.js"></script>


<table>
    <tbody>
    <tr ng-repeat="d in user.dreams">
        <td class="col-md-2"><p class="iWantTo"><em>I want to</em>&nbsp;&nbsp;&nbsp;</p></td>
        <td class="col-md-8"><p class="dreamContent"><b ng-bind="d.content"></b></p></td>
        <td class="col-md-2">
            <div id="votingBlock">
                <ul>
                    <li>
                        <h4 ng-bind="d.points"></h4>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    </tbody>
</table>



